.App {
  text-align: center;
}

/* Calendar */
.calendar-container {
  height: 600px;
}

.rbc-btn-group {
  display: n;
}

/* Modal */
.modal {
  z-index: 99999;
}

/**/
form.add-event {
  text-align: center;
}

form.add-event form.add-event input {
  padding: 5px 3px;
}

form.add-event .input {
  width: 100%;
  margin: auto;
}
